.container{
    display: flex;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 15rem;
    border: solid 1px;
    border: radius 0.25rem;
}
.img{
    height: 10rem;
    width: 10rem;
    }